body {
  font-family: 'Roboto Slab', serif;
  background: #f1f8e9;
  color: #555555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wheel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
